.widget-extra-full {
    border: solid 1px #eaedf1;
}
.widget-extra {
    border: solid 1px #eaedf1;
}
.toggle-icon {
    margin-top: 15px;
    margin-right: 10px;
    color: #f1f3f6;
}
.form-padding {
    padding: 15px;
}
.custom-modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #eaedf1;
    background-color: #eaedf1;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
.chartSpacer {
    padding: 10px;
}


/*UI Dialog styles for process map*/
.ui-dialog {
    box-shadow: 0 0 50px 0 rgba(0,0,0,0.75);
    padding: 0;
    border: none;
    overflow: hidden;
}
.ui-dialog .ui-dialog-content {
    overflow: hidden;
}
.ui-draggable .ui-dialog-titlebar {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

}
.ui-dialog-titlebar {
    background: #F5F5F5;
    color: #000000;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-weight: bold !important;
    text-align: center;
    border: none;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
    background: #394263;
    border: none;
    cursor: initial;
}
.ui-corner-all {
    border-radius: 10px;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}